* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.header {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #100c08;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    height: 110px;
}
.header .text {
    display: flex;
    flex-direction: column;
}
    .header h1 {
        color: white;
        font-weight: bold;
      
    }
    .header .sentence {
        color: white;
        font-weight: bold;
            
    }
.header .logo {
    width:100px;
  
}
